.login-container{

    width:350px;

    margin:40px auto;

    padding:25px;

    border-radius:10px;

    background:white;

    box-shadow:0 0 10px gray;

}

input{

    width:100%;

    padding:10px;

}

button{

    width:100%;

    padding:10px;

    background:blue;

    color:white;

    border:none;

    cursor:pointer;

}

div{

    color:red;

    font-size:14px;

}