<div class="login-container">

    <h2>Login Form</h2>

    <form [formGroup]="loginForm"
          (ngSubmit)="login()">

        <label>Username</label>

        <input
            type="text"
            formControlName="username">

       @if (loginForm.get('username')?.touched &&
     loginForm.get('username')?.invalid) {

  <div>
    Username is required
  </div>

}

        <br><br>

        <label>Password</label>

        <input
            type="password"
            formControlName="password">

        <div *ngIf="loginForm.get('password')?.touched
                    && loginForm.get('password')?.invalid">

            Password is required (Minimum 6 characters)

        </div>

        <br><br>

        <button type="submit">

            Login

        </button>

    </form>

</div>