# Dependencies
backend/node_modules/
frontend/node_modules/

# Build folders
backend/dist/
frontend/dist/

# Logs
*.log

# Environment files
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# npm cache
npm-debug.log*